@use 'variables' as *;

.hero{
    padding-top: 64px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/herobaile.png);;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__logo{
        margin: 0 auto;
        height: 320px;
        display: block;
    }

    &__text{
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

    @media (max-width:640px){
        padding: 40px 0;

        &__logo{
            height: 40px;
        }

        &__text{
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}

.infos-bar{
    padding: 16px 24px;
    background-color: $textColor;
    display: flex;
    justify-content: space-between;

    &__infos{
        display: flex;
        gap: 40px;

        &__item{
            font-size: 14px;
            color: $SecondaryTextColor;
        }

        b{
            font-size: 18px;
            display: block;
            color: $SecondaryTextColor;
        }
    }

    @media (max-width: 640px){
        display: block;

        &__infos{
            display: block;

            &__item{
                margin-bottom: 24px;
            }
        }
    }
}